!!!
html(lang='en')  
	head  
		title= title
		link(rel="stylesheet", href="/stylesheets/main.css")
	body
		header
			.row-fluid
				.span12
					nav#navigation!= partial('navigation.jade')
		.row-fluid
			section!= body 